<script
  type="module"
  src="{{ 'cart-icon.js' | asset_url }}"
></script>



<header-actions
  {{- block.shopify_attributes -}}
>
  {% if shop.customer_accounts_enabled %}
    {% render 'account-popover' %}
    {% render 'account-drawer' %}
  {% endif %}

  {% if settings.cart_type == 'drawer' and template.name != 'cart' %}
    {% render 'cart-drawer' %}
    <button 
      class="header-actions__action action__cart button-unstyled"
      type="button"
      aria-label="{{ 'accessibility.cart' | t }}"
      data-cart-drawer-trigger
    >
      {% render 'cart-icon-component' %}
    </button>
  {% else %}
    <a
      href="{{ routes.cart_url }}"
      class="header-actions__action action__cart"
      aria-label="{{ 'accessibility.cart' | t }}"
    >
      {% render 'cart-icon-component' %}
    </a>
  {% endif %}
</header-actions>
